
            <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="nav">
                	<i class="fa fa-slack"></i><%= link_to "#{@topic.tag_list}", "javascript:void(0);", :class => "select-posts active" %>
                    
                    <%= link_to "Topics", "javascript:void(0);", :class => "select-categories" %>
                </div>
            

            <div class="home-page-posts animated fadeIn ">
                <%= render @posts %>
            </div>
            <div class="home-page-categories hide animated fadeIn ">
            	<ul class="event-list">
            		<% @topics.each do |t| %>
                        <li>
                            
                            <img alt="Independence Day" src="<%= t.picture_url %>" />
                            <div class="info">
                                <h2 class="title"><%= link_to "#{t.name}", topic_path(t.name) %></h2>
                                <p class="desc"><%= t.description %></p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li class="facebook" style="width:33%;"><a target="_blank" href=<%= "https://www.facebook.com/dialog/feed?app_id=975184029176688&display=popup&caption=" + URI.encode("An Abridged Look At All The ") + URI.encode(t.name) + URI.encode(" News") + "&link=http://abridgr.herokuapp.com" + URI.encode(topic_path(t)) + "&redirect_uri=https://abridgr.herokuapp.com" %>><span class="fa fa-facebook"></span></a></li>
                                    <li class="twitter" style="width:34%;"><a target="_blank"   href=<%= "http://twitter.com/intent/tweet?text=" + URI.encode("An Abridged Look At All ") +  URI.encode(t.name) + URI.encode(" Stories") + "&url=http://abridgr.com" + URI.encode(topic_path(t)) + "&via=abrdgr"  %>><span class="fa fa-twitter"></span></a></li>
                                    <li class="google-plus" style="width:33%;"><a target="_blank" href=<%= "http://plus.google.com/share?url=http://abridgr.herokuapp.com" + URI.encode(topic_path(t)) %>><span class="fa fa-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </li>
                    <% end %>

					
				</ul>
            </div>
		</div>

 		
